/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    /* Colors */
    --principal: #8e3e63;
    --second: #d2649a;
    --neutro: rgb(246, 244, 244);
    --soft: rgb(184, 168, 242);
    --bgDetails: #f6fab9;
    --footer: black;

    /* Font */
    --exo: "Exo 2", sans-serif;
}

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: transparent url("/src/assets/bg1.svg") repeat fixed top center;
    background-color: var(--soft);
    background-size: cover;
    font-family: var(--exo);
    font-size: clamp(0.7rem, 2.5vw, 1rem);
    font-weight: 400;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
}
#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container-views {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.container-logo-blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name {
    text-decoration: none;
    color: black;
    font-size: clamp(1.2rem, 22.5vw, 0.5rem);
    cursor: pointer;
    font-weight: 600;
}

/* Header PrimeReact*/
.p-megamenu[pr_id_1].p-megamenu-mobile-active .p-megamenu-root-list {
    background-color: var(--neutro);
}
.p-megamenu {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.5rem 0;
    width: 95%;
    margin: 0 0 1.5rem 0;
    background: var(--soft);
}
.p-megamenu-root-list {
    gap: 1.5rem;
}
.p-megamenu-end {
    display: flex;
    justify-content: flex-end;
}
.p-menuitem-text {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    font-size: clamp(1.2rem, 2.5vw, 0.9rem);
}
.p-menuitem-text:hover {
    color: var(--principal);
}
svg.p-icon {
    width: 20px;
    height: 20px;
}
#pr_id_1_list {
    padding: 1rem 2rem 1rem 4rem;
    align-items: start;
    width: 100%;
}
#pr_id_1_sub_0 {
    padding: 0.3rem 1rem;
}
#pr_id_1_sub_0:hover {
    cursor: pointer;
    color: var(--principal);
    font-weight: 500;
}
.p-menuitem-link svg path {
    fill: var(--principal);
}
.p-menuitem-content {
    width: 130px;
}

/* Header Styles */
.header-end {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
.icons {
    cursor: pointer;
    width: 18px;
}
.icons:hover {
    fill: var(--principal);
}
.avatar {
    width: 100%;
    height: 95px;
    cursor: pointer;
}
.h-option {
    color: black;
    text-decoration: none;
}
.h-option:hover {
    color: var(--soft);
    cursor: pointer;
}

/* NavNar Menu */
.container-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 1rem;
    background: #ffffff;
    border-radius: 40px;
    border: 2px solid rgba(0, 0, 0, 1);
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 1);
    margin: 0 2rem;
    width: 95%;
}
.nav-menu {
    display: flex;
    gap: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.nav-menu p:hover {
    color: var(--second);
    cursor: pointer;
}

/* SearchBar */
.container-search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar-input {
    border-bottom-color: var(--second);
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    outline: none;
    padding: 0.5rem 1rem;
}
.icon-search:hover {
    fill: var(--second);
}

/* Posts */
.container-card-one {
    width: 100%;
}
.option {
    color: black;
    text-decoration: none;
}
.option:hover {
    color: var(--principal);
    cursor: pointer;
}
.post-category {
    color: black;
    cursor: auto;
    font-size: clamp(0.85rem, 2.5vw, 1.15rem);
    font-weight: 500;
}
.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.data .star {
    margin-bottom: 0.5rem;
    width: 30px;
}
.container-card-principal {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container-card-principal h1 {
    text-align: center;
    letter-spacing: 0.2rem;
    font-size: clamp(1rem, 2.5vw, 2rem);
}
.post-principal {
    height: 500px;
    overflow: hidden;
    margin: 1rem 1rem;
    background: var(--neutro);
    border-radius: 2rem;
    border: 2px solid rgba(0, 0, 0, 1);
    /* width: 70%; */
}
.post-principal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}
.posts-destacados {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.data {
    text-align: center;
    background-color: var(--neutro);
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    border: 2px solid rgba(0, 0, 0, 1);
    opacity: 1;
    transform: translate(5%, -110%);
    width: 60%;
}
.title {
    font-size: clamp(0.9rem, 2.5vw, 1.7rem);
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin-bottom: 0.5rem;
}
.title:hover {
    color: var(--principal);
    cursor: pointer;
}
.categorie {
    text-transform: uppercase;
    font-size: clamp(0.8rem, 2.5vw, 1.1rem);
    font-weight: 600;
    margin-bottom: 0.7rem;
    letter-spacing: 0.2rem;
}
.posts {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.6rem;
    padding: 1rem 1.5rem;
    width: 100%;
}
.post {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    padding: 0 0 1rem 0;
    margin: 0.5rem 0.5rem;
    background: var(--neutro);
    border-radius: 0 2.5rem;
    border: 2px solid rgba(0, 0, 0, 1);
    height: 100%;
}
.post h1 {
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    letter-spacing: 0.25px;
    padding-bottom: 0.5rem;
}
.post h1:hover {
    color: var(--principal);
    cursor: pointer;
}
.post:has(img:hover) {
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 1);
    cursor: pointer;
}
.post:has(h1:hover) {
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 1);
    cursor: pointer;
}
.image-post {
    width: 100%;
}
.container-image img {
    width: 100%;
    height: 170px;
    margin: 0 0 0.5rem;
    border-radius: 0 2.4rem;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 1);
    object-fit: cover;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--neutro);
    padding: 0 1.5rem;
    gap: 1rem;
    background: var(--footer);
    min-height: 70px;
    width: 100%;
    margin-top: 1rem;
}
footer h1 {
    font-size: clamp(0.6rem, 2.5vw, 1rem);
    text-align: center;
}
footer a {
    text-decoration: none;
    color: var(--principal);
}
.f-menu {
    display: flex;
    gap: 1rem;
    font-weight: 600;
}
.option-footer {
    color: var(--neutro);
    text-decoration: none;
}
.option-footer:hover {
    color: var(--principal);
    cursor: pointer;
}

/* About */
.container-template {
    background: var(--soft);
    border-radius: 0 2rem;
    margin: 1rem 3rem;
}
.container-about {
    padding: 2rem 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
}
.container-profile {
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    border-style: groove;
}
.back-icons {
    background-color: var(--principal);
    border-radius: 0rem 1.9rem 0rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-icons .icons:hover {
    fill: var(--soft);
}
.resume {
    text-align: center;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
}

/* Posts-detail */
.section-post {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
}
.more-posts {
    width: 40%;
    height: 100%;
    padding: 1rem;
}
.more-posts .section-title {
    text-align: center;
    padding: 1rem 0 0;
}
.post-detail {
    padding: 1.5rem;
}
.post-detail h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
    font-size: clamp(1rem, 2.5vw, 2rem);
}
.post-detail p {
    padding-bottom: 1rem;
    font-size: clamp(0.75rem, 2.5vw, 1rem);
}
.image-detail-post {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.image-detail-post img {
    width: 90%;
    height: 200px;
    object-fit: contain;
}
.container-more-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem;
    gap: 1.5rem;
}
.thumbnails {
    display: flex;
    align-items: center;
}
.thumbnails .one {
    margin-right: 1rem;
}
.thumbnails .one img {
    width: 100px;
    height: 60px;
    object-fit: cover;
    border-radius: 0.5rem;
}
.thumbnails .one img:hover {
    filter: brightness(0.5);
}
.thumbnails .two p {
    font-size: clamp(0.63rem, 2.5vw, 0.75rem);
}
.thumbnails .two h1 {
    font-size: clamp(0.6rem, 2.5vw, 0.9rem);
    font-weight: 600;
}
.selected-post {
    width: 60%;
}
.container-detail-posts {
    margin: 1rem 1rem;
    background: var(--bgDetails);
    border-radius: 1rem 0;
}
.title-categories {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    letter-spacing: 0.3rem;
    /* padding: 1.5rem 5rem 0rem; */
    color: var(--principal);
    text-transform: uppercase;
}
.post-content {
    line-height: 1.6;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    font-size: clamp(0.85rem, 2.5vw, 1rem);
}

/* Carousel */
.container-carousel {
    margin: 0 1.5rem;
    padding-bottom: 0.5rem;
}

/* PrimeReact Carousel */
.p-carousel-items-content {
    margin: 0 0.7rem;
}

/* Tags */
.container-tags {
    display: none;
}
.container-tags h1 {
    padding-bottom: 0.7rem;
    text-align: center;
}
.tags {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.color-tag {
    background: var(--neutro);
    padding: 0.5rem 0.9rem;
    font-weight: 700;
}

/* Filters */
.container-filtered {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    color: var(--principal);
    font-weight: 500;
    font-size: clamp(0.7rem, 2.5vw, 1rem);
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem 0 0.5rem;
}

/* Responsive */
@media screen and (min-width: 561px) {
    .posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 400px) {
    #pr_id_1_list {
        width: 60%;
    }
}

@media screen and (max-width: 1110px) {
    .container-card-principal {
        flex-direction: column;
    }
    .posts-destacados {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
}

@media screen and (max-width: 770px) {
    .back-icons .header-end {
        display: flex;
    }
    .container-logo-blog {
        flex-direction: row;
        gap: 1rem;
    }
    .container-tags {
        display: flex;
        flex-direction: column;
        padding: 1rem 0rem;
        width: 100%;
    }
    .container-tags h1 {
        padding-top: 0rem;
    }
    .p-megamenu[pr_id_1] {
        background-color: var(--neutro);
        height: 70px;
        display: flex;
        justify-content: flex-end;
        margin: 0;
    }
    .p-megamenu[pr_id_1] .p-megamenu-button {
        color: black;
        margin-right: 1rem;
    }
    .header-end {
        display: none;
    }
    .avatar {
        height: 50px;
    }
    .p-megamenu-start {
        position: absolute;
        left: 5%;
    }
    .p-menuitem-text {
        text-transform: inherit;
    }
    .p-menuitem-text:hover {
        color: var(--principal);
    }
    .container-nav {
        display: none;
    }
    .post-principal {
        height: 350px;
        /* width: 100%; */
    }
    .posts-destacados {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 1.2rem;
    }
    .container-card-principal {
        flex-direction: column;
    }
    .posts {
        margin: 0.7rem 0.9rem;
    }
    .section-post {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0.2rem;
    }
    .selected-post {
        width: 100%;
    }
    .more-posts {
        width: 100%;
        padding: 0;
    }
    .container-carousel {
        margin: 0 0.5rem;
    }
    footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
}

@media screen and (min-width: 771px) {
    .p-menuitem-content {
        width: 100%;
    }
    #pr_id_1_list {
        padding: 1rem;
    }
    .posts {
        grid-template-columns: repeat(3, 1fr);
    }
    #pr_id_1_list {
        width: auto;
    }
}

@media screen and (min-width: 1440px) {
    #pr_id_1_list {
        padding: 1rem;
    }
    .p-menuitem-content {
        width: 100%;
    }
    .container-views {
        width: 1340px;
    }
    .p-megamenu {
        width: 1340px;
        justify-content: space-between;
    }
    .container-nav {
        width: 1300px;
    }
    .container-carousel {
        margin: 0 1.5rem;
    }
    .posts {
        grid-template-columns: repeat(4, 1fr);
    }
    footer {
        justify-content: space-evenly;
    }
}
