/* ***********************************************Fonts ************************************************/
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    /******* Colors *******/
    --principal: #8e3e63;
    --second: #d2649a;
    --neutro: rgb(246, 244, 244);
    --soft: rgb(184, 168, 242);
    --bgDetails: #f6fab9;
    --footer: black;

    /********** Font **********/
    --exo: "Exo 2", sans-serif;
}

/************************************** General **************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: transparent url("/src/assets/bg1.svg") repeat fixed top center;
    /* background-color: var(--soft); */
    background-size: cover;
    font-family: var(--exo);
    font-size: clamp(0.7rem, 2.5vw, 1rem);
    font-weight: 400;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
}
#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container-views {
    width: 100%;
    min-height: 100vh;
}



/*********************************** Header Styles ***********************************/
.header-end {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
.icons {
    cursor: pointer;
    width: 18px;
}
.icons:hover {
    fill: var(--principal);
}
#header .container-search-bar {
    display: flex; 
}
#header .menu-search-bar {
    display: none;
}
#header {
    width: 100%;
    background: var(--soft);
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 1);
    margin-bottom: 1.5rem;
    z-index: 10;
}
.header1 {
    background: transparent;
    height: 100px;
}
.header2 {
    height: 100px;
}
.container-header {
    display: flex;
    margin: auto;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: inherit;
    overflow: hidden;
}
.links-menu {
    display: flex;
    position: static;
    height: auto;
    width: auto;
    opacity: 1;
    transform: none;
    pointer-events: auto;
    flex-direction: row;
    justify-content: flex-end;
    background: none;
    padding: 0;
}
.option-header {
    display: inline-block;
    margin: 1rem;
    font-size: clamp(.9rem, 2.5vw, 1.2rem);
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: .3rem solid transparent;
    color:black;
    cursor: pointer;
}
.option-header:hover {
    color: var(--principal);
    border-bottom: 2px solid var(--principal);
    transition: 0.2s;
}
.links-menu.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: clamp(1.2rem, 2.5vw, 1rem);
    color: var(--principal);
}
.logo img {
    height: 50px;
}
.icono {
    display: none;
    font-size: 24px;
    margin: 1rem;
    cursor: pointer;
}




/********************************** NavNar Menu **********************************/
.container-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 1rem;
    background: #ffffff;
    border-radius: 40px;
    border: 2px solid rgba(0, 0, 0, 1);
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 1);
    margin: 0 2rem;
    width: 95%;
}
.nav-menu {
    display: flex;
    gap: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.nav-menu p:hover {
    color: var(--second);
    translate: 0 .2rem;
    cursor: pointer;
}



/*************** SearchBar ****************************************************/
.container-search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar-input {
    border-bottom-color: var(--second);
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    outline: none;
    padding: 0.5rem 1rem;
}
.icon-search:hover {
    fill: var(--second);
}
.results{
    background: var(--soft);
    padding: 1rem 0;
    font-size: clamp(.9rem, 2.5vw, 1.2rem);
    text-align: center;
}




/************************************ Posts *************************************/
.container-card-one {
    width: 100%;
}
.option {
    color: black;
    text-decoration: none;
}
.option:hover {
    color: var(--principal);
    cursor: pointer;
}
.post-category {
    color: black;
    font-size: clamp(0.85rem, 2.5vw, 1rem);
    font-weight: 500;
    margin-bottom: .2rem;
}
.post-date{
    color: #333333; 
}
.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.data .star {
    margin-bottom: 0.5rem;
    width: 30px;
}
.container-card-principal {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container-card-principal .title-principal {
    text-align: center;
    letter-spacing: 0.2rem;
    font-size: clamp(1rem, 2.5vw, 2rem);
    color: #D2649A;
    background: black;
    padding: .5rem;
    border-radius: .5rem;
    margin: 0 1.5rem;
}
.post-principal {
    height: 500px;
    overflow: hidden;
    margin: 1rem 1rem;
    background: var(--neutro);
    border-radius: 2rem;
    /* border: 2px solid rgba(0, 0, 0, 1); */
}
.post-principal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}
.posts-destacados {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.data {
    text-align: center;
    background-color: var(--neutro);
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    border: 2px solid rgba(0, 0, 0, 1);
    opacity: 1;
    transform: translate(5%, -110%);
    width: 60%;
}
.title {
    font-size: clamp(0.9rem, 2.5vw, 1.7rem);
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin-bottom: 0.5rem;
}
.title:hover {
    color: var(--principal);
    cursor: pointer;
}
.categorie {
    text-transform: uppercase;
    font-size: clamp(0.8rem, 2.5vw, 1.1rem);
    font-weight: 600;
    margin-bottom: 0.7rem;
    letter-spacing: 0.2rem;
    color: black;
}
.posts {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.6rem;
    padding: 1rem 1.5rem;
    width: 100%;
}
.post {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    padding: 0 0 1rem 0;
    margin: 0.5rem 0.5rem;
    background: var(--neutro);
    border-radius: 0 2.5rem;
    border: 2px solid rgba(0, 0, 0, 1);
    height: 95%;
    position: relative;
}
.post .bg-tag{
    position: absolute;
    top: 3%;
    left: 2%;
}
.post .bg-tag .type-tag{
    text-transform: uppercase;
    font-weight: 900; 
    padding: .2rem; 
    color: var(--principal); 
    letter-spacing: .1rem;
    border-radius: .2rem;
    font-size: .8rem;
}
.post .post-title {
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    letter-spacing: 0.25px;
    padding-bottom: 0.5rem;
}
.post .post-title:hover {
    color: var(--principal);
    cursor: pointer;
}
.post:has(img:hover) {
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 1);
    translate: 0 .2rem;
    cursor: pointer;
}
.post:has(.post-title:hover) {
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 1);
    cursor: pointer;
    translate: 0 .2rem;
}
.image-post {
    width: 100%;
}
.container-image img {
    width: 100%;
    height: 170px;
    margin: 0 0 0.5rem;
    border-radius: 0 2.4rem;
    /* box-shadow: 0 2px 0 0 rgba(0, 0, 0, 1); */
    object-fit: cover;
}



/********************************* Posts-detail *********************************/
.section-post {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
}
.more-posts {
    background: var(--soft);
    width: 30%;
    height: 100%;
    padding: 1rem 0; 
    /* border: .2rem solid; */
}
.more-posts .section-title {
    text-align: center;
    padding: 1rem 0 0;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    color: var(--principal);
}
.post-detail {
    padding: 1.5rem;
    background: var(--neutro);
}
.post-detail h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
    font-size: clamp(1rem, 2.5vw, 2rem);
}
.post-detail p {
    padding-bottom: 1rem;
    font-size: clamp(0.9rem, 2.5vw, 1.1rem);
}
.image-detail-post {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.image-detail-post img {
    width: 90%;
    height: 200px;
    object-fit: contain;
}
.container-more-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1.5rem;
    gap: 1.5rem;
}
.thumbnails {
    display: flex;
    align-items: center;
}
.thumbnails .one {
    margin-right: 1rem;
}
.thumbnails .one img {
    width: 75px;
    height: 50px;
    object-fit: cover;
    border-radius: 0.5rem;
}
.thumbnails .one img:hover {
    filter: brightness(0.5);
}
.thumbnails .two p {
    font-size: clamp(0.7rem, 2.5vw, 0.8rem);
}
.thumbnails .two h1 {
    font-size: clamp(0.78rem, 2.5vw, 0.9rem);
    font-weight: 600;
}
.selected-post {
    width: 75%;
}
.container-detail-posts {
    margin: 1rem 1rem;
    /* background: var(--soft); */
    border-radius: 1rem 0;
}
.title-categories {
    font-size: clamp(1rem, 2.5vw, .9rem);
    letter-spacing: 0.3rem;
    color: var(--principal);
    text-transform: uppercase;
}
.post-content {
    line-height: 1.6;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    font-size: clamp(0.85rem, 2.5vw, 1rem);
}


/*********************************** About ***********************************/
.container-template {
    background: var(--soft);
    border-radius: 0 2rem;
    margin: 1rem 3rem;
}
.container-about {
    padding: 2rem 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
}
.container-profile {
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    border-style: groove;
}
.back-icons {
    display: none;
}
.back-icons .icons:hover {
    fill: var(--soft);
}
.resume {
    text-align: center;
    font-size: clamp(.9rem, 2.5vw, 1.1rem);
}




/*********************************** Tags ***********************************/
.container-tags {
    display: none;
}
.container-tags h1 {
    margin-bottom: 0.7rem;
}
.tags {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 1rem;
}
.color-tag {
    background: var(--soft);
    padding: 0.5rem 0.9rem;
    font-weight: 700;
    border: .1rem solid;
}
.color-tag:hover{
    background-color: var(--second);
}



/********************************* Filters *********************************/
.container-filtered {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    color: var(--principal);
    font-weight: 500;
    font-size: clamp(0.5rem, 2.5vw, 1rem);
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem 0 0.5rem;
    background: var(--neutro);
    margin: 1rem 0 0;
}

/******************************** Paginator ********************************/
.p-paginator{
    gap: 2.7rem;
    background-color: var(--neutro);
}
.p-link {
    border: 1px solid;
}
.p-paginator-page, .p-paginator-next, .p-paginator-last, .p-paginator-first, .p-paginator-prev, .p-paginator-current {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}
svg.p-icon {
    pointer-events: auto;
    width: 30px;
    height: 30px;
}




/********************************** Footer **********************************/
footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--neutro);
    padding: 0 1.5rem;
    gap: 1rem;
    background: var(--footer);
    min-height: 70px;
    width: 100%;
    margin-top: 1rem;
}
footer .by {
    font-size: clamp(0.75rem, 2.5vw, 1rem);
    text-align: center;
}
footer .link {
    text-decoration: none;
    color: var(--principal);
}
.f-menu {
    display: flex;
    gap: 1rem;
    font-weight: 600;
    font-size: clamp(.85rem, 2.5vw, 1rem);
}
.option-footer {
    color: var(--neutro);
    text-decoration: none;
    margin: 0;
}
.option-footer:hover {
    color: var(--principal);
    cursor: pointer;
}



/********************************* NotFound *********************************/
.not-found{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--soft);
    margin: 3rem;
    border-radius: 0 2rem;
    padding: 1rem;
    text-align: center;
}




/******************************** Responsive ********************************/
@media screen and (min-width: 561px) {
    .posts {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 1110px) {
    .container-card-principal {
        flex-direction: column;
    }
    .posts-destacados {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .container-detail-posts{
        width: 100%;
    }
    .section-post{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .more-posts{
        width: 65%;
    }
}

@media screen and (max-width: 770px) {
    #header{
        background: var(--neutro);
    }
    #header .menu-search-bar {
        display: flex;
        gap: .5rem;
    }
    .header1{
        height: 60px;
    }
    .option-header{
        margin: 0.5rem .2rem;
    }
    .logo{
        flex-direction: row;
        gap: 1rem;
    }
    .icono {
        display: block;
    }
    .links-menu {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background: var(--neutro);
        flex-direction: column;
        justify-content: start;
        overflow: hidden;
        padding: 2rem 1.8rem;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.5s ease, transform 0.5s ease;
        pointer-events: none;
    }
    .section-post{
        padding: 0 .2rem;
    }
    .back-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        background-color: var(--principal);
        border-radius: 0rem 1.9rem 0rem;
        height: 50px;
        display: flex;
    }
    .container-tags {
        display: flex;
        flex-direction: column;
        padding: 0 0 3rem;
        width: 100%;
    }
    .container-tags h1 {
        padding: .5rem;
    }
    .container-more-posts{
        padding: .8rem;
    }
    .header-end {
        display: none;
    }
    .avatar {
        height: 50px;
    }
    .container-nav {
        display: none;
    }
    .post-principal {
        height: 350px;
    }
    .posts-destacados {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 1.2rem;
        gap: 1rem;
    }
    .container-card-principal {
        flex-direction: column;
        padding: 0;
    }
    .section-post {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .selected-post {
        width: 100%;
    }
    .more-posts {
        width: 70%;
        padding: 0;
        /* border: .15rem solid; */
    }
    .container-template {
        margin: .5rem;
    }
    .container-about {
        padding: 1.5rem;
    }
    .container-filtered{
        padding: 1rem;
        margin: 0;
    }
    .not-found{
        margin: 1.5rem;
    }
    footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
}

@media screen and (min-width: 771px) {
    .posts {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1440px) {
    .container-views {
        width: 1340px;
        min-height: 100vh;
    }
    .container-nav {
        width: 1300px;
    }
    .posts {
        grid-template-columns: repeat(4, 1fr);
    }
    footer {
        justify-content: space-evenly;
    }
}